@charset "UTF-8";
/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

header {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 30px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  text-shadow: #2B2B2B 0px 0px 2px;
}

main {
  text-align: center;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

#banner {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  padding: 0px;
}

.mi-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  padding: 10px 20px;
  margin: 15px;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo img {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
}

.nav-link {
  margin-left: 15px;
  font-weight: 500;
  text-shadow: 0px 1px 8px #2B2B2B;
}
.nav-link:hover {
  color: #B6954E;
  transform: scale(1.1);
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 2px #B6954E;
}

footer {
  margin: 0px;
  background-color: #2B2B2B;
}
footer .footer-text {
  color: #F8F8F8;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer a {
  color: #F8F8F8;
  text-decoration: none;
}
footer a:hover {
  color: rgb(184.25, 184.25, 184.25);
}
footer img {
  width: 2%;
  height: 2%;
}

main h2 {
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  font-weight: lighter;
  text-shadow: #2B2B2B 0px 0px 2px;
  font-size: 20px;
  font-family: monospace;
  margin: 20px;
  line-height: 1;
}
main p {
  text-align: center;
  text-shadow: #2B2B2B 0px 0px 2px;
  color: #2B2B2B;
  padding: 0px;
  font-weight: lighter;
  font-size: 20px;
  font-family: monospace;
  margin: 20px;
  line-height: 1;
}

/* promo del inicio */
.promo {
  display: flex;
  margin: 0 30px auto;
  align-items: center;
}
.promo a {
  color: #2B2B2B;
  text-decoration: none;
}
.promo a:hover {
  color: black;
}

.mitad {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.promocion {
  flex-grow: inherit;
  display: fixed;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
.promocion p {
  border-radius: 15%;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #F8F8F8;
  background-color: #2B2B2B;
}
.promocion img {
  width: 30px;
  height: 30px;
}
.promocion:hover {
  color: none;
  transform: scale(1.1);
}

p {
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  text-shadow: #2B2B2B 0px 0px 2px;
  color: #2B2B2B;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: #2B2B2B 0px 0px 2px;
  color: #F8F8F8;
}

/* portadas  */
.portadas {
  display: grid;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.portadas video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.portadas img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.container .item {
  border: 1px solid #D3D0C9;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  background-color: #D3D0C9;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}
.container .item:hover {
  color: none;
  transform: scale(1.05);
}
.container .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

div h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #2B2B2B;
  text-shadow: #2B2B2B 0px 0px 2px;
  margin: 20px;
}
div #tienda {
  font-family: "Times New Roman", Times, serif;
  margin: 8px;
  color: #D3D0C9;
  text-shadow: #2B2B2B 0px 0px 2px;
  background-color: #2B2B2B;
  border-radius: 20px;
  padding: 8px;
}

#spotify {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #D3D0C9;
}
#spotify img {
  width: 5%;
  height: auto;
}

.laseras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.laseras .izquierda,
.laseras .derecha {
  width: 50%;
  padding: 10px;
}

.izquierda .lista-discos {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 475px;
  background-color: none;
  overflow-y: auto;
  border-radius: 5px;
}
.izquierda .lista-discos ol {
  list-style: circle;
  margin: 10px;
}
.izquierda .lista-discos ol li {
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  line-height: 1.3;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  background-color: #D3D0C9;
}
.izquierda .lista-discos ol li:hover {
  color: #2B2B2B;
  transform: scale(1.05);
}
.izquierda .lista-discos a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #F8F8F8;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: #2B2B2B 0px 0px 2px;
}

.derecha {
  width: 50%;
  padding: 10px;
}
.derecha img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

/* seccion audio y su link*/
.link-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.link-audio h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #2B2B2B;
  text-shadow: #2B2B2B 0px 0px 2px;
}
.link-audio a {
  text-decoration: none;
  color: #F8F8F8;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: #2B2B2B 0px 0px 2px;
  background-color: #615C56;
  border-radius: 5px;
}

.audio-discos {
  text-align: center;
  margin-top: 10px;
  padding: 4px;
}
.audio-discos img {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.audio-discos p {
  font-size: 14px;
  margin: 5px;
  background-color: #2B2B2B;
  padding: 5px;
  border-radius: 5px;
}

#ir-a-mensajes {
  text-decoration: none;
  color: #2B2B2B;
  background-color: #D3D0C9;
  font-size: large;
  border: 6px solid #D3D0C9;
  border-radius: 5px;
}

.testimonios {
  display: flex;
  margin: 30px;
  padding: 30px;
}
.testimonios a {
  color: #2B2B2B;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
}
.testimonios a:hover {
  color: black;
}
.testimonios h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  background-color: rgba(197, 192, 183, 0.7176470588);
  text-align: left;
}
.testimonios article {
  padding: 15px;
}

#mensajes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*  inscripcion */
p a {
  color: #D3D0C9;
  text-decoration: none;
  background-color: #2B2B2B;
  margin-top: 3px;
}
p a:hover {
  color: rgb(153.7551020408, 146.8520408163, 130.7448979592);
}
p a:hover {
  color: #B6954E;
  transform: scale(1.1);
}

#bases {
  margin: 25px auto;
  padding: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #D3D0C9;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
}

.label {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: #2B2B2B 0px 0px 2px;
  text-align: left;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #F8F8F8;
  border-radius: 5px;
}

#enviar {
  color: #D3D0C9;
  background-color: #2B2B2B;
  width: 30%;
  margin: 15px auto 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 480px) {
  footer img {
    width: 30%;
    height: 30%;
  }
  main h2 {
    font-size: 18px;
  }
  main p {
    font-size: 16px;
    margin: 10px;
  }
  .promo {
    flex-direction: column;
    margin: 10px;
  }
  .mitad {
    width: 100%;
    padding: 5px;
  }
  .promocion p {
    font-size: 16px;
  }
  .promocion img {
    width: 25px;
    height: 25px;
  }
  .portadas {
    gap: 10px;
  }
  .testimonios {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 20px;
  }
  .testimonios article {
    padding: 15px;
  }
  .testimonios h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    background-color: rgba(197, 192, 183, 0.7176470588);
    text-align: left;
  }
  .testimonios a {
    color: #2B2B2B;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
  }
  .testimonios a:hover {
    color: black;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  main h2 {
    font-size: 20px;
  }
  main p {
    font-size: 18px;
    margin: 15px;
  }
  .promo {
    flex-direction: column;
    margin: 20px;
  }
  .mitad {
    width: 90%;
    padding: 10px;
  }
  .promocion p {
    font-size: 18px;
  }
  .promocion img {
    width: 28px;
    height: 28px;
  }
  .portadas {
    gap: 15px;
  }
  .testimonios {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .testimonios article {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (min-width: 1024px) {
  main h2 {
    font-size: 24px;
  }
  main p {
    font-size: 20px;
    margin: 20px;
  }
  .promo {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
  }
  .mitad {
    width: 50%;
    padding: 20px;
  }
  .promocion p {
    font-size: 20px;
  }
  .promocion img {
    width: 30px;
    height: 30px;
  }
  .portadas {
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
