/* selector {
propiedad: valor ;
} */
/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */

body {
  width: 100%;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  text-align: center;
  padding: 7px;
  font-size: 30px;

}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  text-shadow: #2B2B2B 0px 0px 2px;
}

main {
  text-align: center;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

/* banner */
#banner {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px;
  padding: 0px;

}

/* navbar*/

.mi-navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 15px;
}

/* logo */
.logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo img {
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
}

/* nav links */
.nav-link {
  margin-left: 15px;
  font-weight: 500;
  text-shadow: 0px 1px 8px #615C56;
}

.nav-link:hover {
  color: #88744a;
  transform: scale(1.1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 2px #B6954E;
}

/* bienvenida  index */
main h2 {
  font-weight: bolder;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
}

main p {
  padding: 0px;
  text-align: center;
  font-weight: lighter;
  text-shadow: #2B2B2B 0px 0px 2px;
  font-size: 20px;
  font-family: monospace;
  margin: 20px;
  line-height: 1;

}


/* promo del inicio */

.promo {
  display: flex;
  margin: 0 30px auto;
  align-items: center;
}

.mitad {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;

}

.promocion {
  flex-grow: inherit;

}

.promocion a img {
  width: 30px;
  height: 30px;
}

.promocion a {
  display: fixed;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: transparent;

}

.promocion a:hover {
  transform: scale(1.1);
}

.promocion a p {
  border-radius: 15%;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #D3D0C9;
  background-color: #2B2B2B;
}

.promocion p {
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: bolder;
  color: #2B2B2B;
  text-shadow: #2B2B2B 0px 0px 2px;

}

.promocion h3 {
  font-size: 20px;
  font-weight: bold;
  color: #D3D0C9;
  text-shadow: #2B2B2B 0px 0px 2px;
  background-color: #2B2B2B;
}

/* portadas  */

.portadas {
  display: grid;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.portadas video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.portadas img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}



/*  footer */
footer {
  background-color: #2B2B2B;
  color: #F8F8F8;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1em;
  margin-top: 1em;
}

footer img {
  width: 2%;
  height: 2%;
}

/* mq desktop para index  y tienda*/
@media (min-width: 1024px) {

  /* index  */
  .promo {
    flex-direction: row;
  }

  .mitad {
    width: 45%;
  }

  .logo img {
    height: 300px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex-direction: row
  }

  footer img {
    width: 5%;
    height: 5%;
  }

  /* tienda  */

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
    margin: 0 auto;
    ;
  }

  
}


/*  tienda  */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {

  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  background-color: #D3D0C9;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);

}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.item:hover {
  transform: scale(1.05);
}

#tienda {
  font-family: 'Times New Roman', Times, serif;
  margin: 8px;
  color: #D3D0C9;
  text-shadow: #2B2B2B 0px 0px 2px;
  background-color: #2B2B2B;
  border-radius: 20px;
  padding: 8px;
}

div h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #2B2B2B;
  text-shadow: #2B2B2B 0px 0px 2px;
  margin: 20px;
}

/* discos */


#spotify {
  margin: 20px;
  padding: 20px;
  text-align: center;

}

#spotify img {
  width: 5%;
  height: auto;
}

.laseras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  width: 100%;
  margin-bottom: 10 px;
}

.izquierda .derecha {
  width: 50%;
  padding: 10px;

}

/* albumes eras */
.izquierda {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 250px;
  max-height: 475px;
  background-color: #2B2B2B;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.izquierda ol {
  list-style: circle;

}

.izquierda ol li {
  padding: 10px;
  line-height: 1.4;
  font-size: 20px;
}

.izquierda ol li:hover {
  background-color: #B6954E;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}



.izquierda a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #F8F8F8;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: #2B2B2B 0px 0px 2px;

}

.derecha img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;

}


/* seccion audio */

.link-audio {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  text-shadow: #2B2B2B 0px 0px 2px;
  
}
.link-audio a {
  text-decoration: none;
  color: #F8F8F8;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: #2B2B2B 0px 0px 2px;
background-color: #615C56;
border-radius: 5px;
}

.audio-discos {
  text-align: center;
  margin-top: 10px;
  padding: 4px;
}

.audio-discos img {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* link a audio */
.audio-discos p {
  font-size: 14px;
  margin: 5px;
  background-color: #2B2B2B;
  padding: 5px;
  border-radius: 5px;
}

.audio-discos a {
  text-decoration: none;
  color: #F8F8F8;
}

/*  testimonios  */

#ir-a-mensajes {
  text-decoration: none;
  color: #2B2B2B;
  background-color: #F0EFEB;
  font-size: large;
  border: 6px solid #F0EFEB;
  border-radius: 5px;
  
}

.testimonios {
  display: flex;
  margin: 30px;
  padding: 30px;
}

.testimonios a {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
  background-color: #2B2B2B;
  padding: 10px;
  border-radius: 10px;
  color: #F8F8F8;
}


article {
  padding: 15px;
}

.testimonios h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  background-color: #c5c0b7b7;
  text-align: left;

}

#mensajes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*  inscripcion */
#bases {
  margin: 25px auto;
  padding: 10px;
  text-align: center;
}

/* formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #D3D0C9;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

.label {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: #2B2B2B 0px 0px 2px;
}

#enviar {
  color: #D3D0C9;
  width: 30%;
  margin: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}