// subtitulo
#spotify {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: $color-terciario;

    img {
        width: 5%;
        height: auto;
    }
}


.laseras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;

    .izquierda,
    .derecha {
        width: 50%;
        padding: 10px;
    }
}

//  lado izquierdo
.izquierda {
    .lista-discos {
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 475px;
        background-color: none;
        overflow-y: auto;
        border-radius: 5px;
      

        ol {
            list-style: circle;
            margin: 10px;

            li {
                font-family: $fuente-principal;
                padding: 10px;
                line-height: 1.3;
                font-size: 20px;
                @include hover-scale ($color-principal, 1.05);
                @include caja-estilo (15px);
                background-color: $color-terciario

            }
        }

        a {
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: $color-secundario;
            font-size: 20px;
            font-weight: bolder;
            text-shadow: $sombra-texto;

        }
    }
}

// lado derecho 
.derecha {
    width: 50%;
    padding: 10px;

    img {
        width: 100%;
        height: auto;
        @include caja-estilo (10px);
        object-fit: cover;

    }

}

/* seccion audio y su link*/

.link-audio {
    font-family: $fuente-principal;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    text-shadow: $sombra-texto;

    a {
        text-decoration: none;
        color: $color-secundario;
        font-size: 20px;
        font-weight: bolder;
        text-shadow: $sombra-texto;
        background-color: #615C56;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: $color-secundario
    }
}


.audio-discos {
    text-align: center;
    margin-top: 10px;
    padding: 4px;

    img {
        width: 50%;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        margin: 5px;
        background-color: $color-principal;
        padding: 5px;
        border-radius: 5px;
    }
}