#ir-a-mensajes {
    text-decoration: none;
    color: $color-principal;
    background-color: $color-terciario;
    font-size: large;
    border: 6px solid $color-terciario;
    border-radius: 5px;

}

.testimonios {
    display: flex;
    margin: 30px;
    padding: 30px;

    a { 
        @include a-estilo ($color-principal); 
        padding: 10px;
        margin-top: 10px;
        font-size: 25px;
        padding: 10px;
        border-radius: 10px; 
    }

    h3 {
        font-family: $fuente-secundaria;
        font-size: 22px;
        background-color: #c5c0b7b7;
        text-align: left;

    }

    article {
        padding: 15px;
    }
}


#mensajes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}