/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // import variables 
  @import "../abstracts/variables";
  @import "../abstracts/mixin";

// estilos generales
body {
    width: 100%;
    background-color: $color-secundario;
    margin: 0;
    padding: 0;
    font-family: $fuente-principal;
  }
  
  header {
    text-align: center;
    padding: 7px;
    font-size: 30px;
  
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: $fuente-principal;
    margin: 0;
    text-shadow: $sombra-texto;
  }
  
  main {
    text-align: center;
  }
  
  h4 {
    font-family: $fuente-principal;
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }
  //  banner 
 #banner {
    width: 100%;
    height: auto;
    display: block;
    margin: 5px;
    padding: 0px;
  
  }
  
//  navbar
  
  .mi-navbar {
    background-color: $color-secundario;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 15px;
  }
  
  //  logo 
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    img {
      height: 200px;
      width: auto;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  
  
  // nav links 
  .nav-link {
    margin-left: 15px;
    font-weight: 500;
    text-shadow: 0px 1px 8px $color-principal;
    
  }
  
  .nav-link:hover {
    color: $color-dorado;
    transform: scale(1.1);
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-dorado;
  
  }
  footer {
    background-color: #2B2B2B;
    color: #F8F8F8;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1em;
    margin-top: 1em;
    img {
      width: 2%;
      height: 2%;
    }
  }
  
  
