// import 
@import "../abstracts/variables";

// mixins
// estilo de caja 
@mixin caja-estilo ($radio: 10px){
    border-radius: $radio;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  }
  // texto general
  @mixin texto-general($sombra-texto, $color) {
    text-align: center;
    text-shadow: $sombra-texto;
    color: $color;

  }

  // Transición con hover 
  @mixin hover-scale($color-hover: gold, $scale: 1.1) {
    &:hover {
      color: $color-hover;
      transform: scale($scale);
    }
  }

// centrar con flex 
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // subtitulo
  @mixin subtitulo-style($font-size: 20px) {
    padding: 0px;
  text-align: center;
  font-weight: lighter;
  text-shadow: $sombra-texto;
  font-size: 20px;
  font-family: monospace;
  margin: 20px;
  line-height: 1;

  }  
  
  // Input focus o botón focus visible
  @mixin focus-delineado($color) {
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $color;
    }
  }

//  estilo link
@mixin a-estilo($color) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: darken($color, 25%);
  }
}
  
//  flex column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
  


  
 
  
 
  
 