$color-principal: #2B2B2B;
$color-secundario: #F8F8F8;
$color-terciario: #D3D0C9;
$color-dorado: #B6954E;
$fuente-principal: 'Times New Roman', Times, serif;
$fuente-secundaria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$sombra-texto: #2B2B2B 0px 0px 2px;
$sombra-caja: 0 0px 8px rgba(0, 0, 0, 0.2);
$radio-borde: 10px;
